.header {
   max-width: 1280px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px 70px 38px 70px;
   /* border: 2px solid red; */
}

.header__logo {
   width: 38px;
   height: 38px;
   transition: opacity 0.5s ease-in-out;
   background-image: url('../../images/logo.svg');
}

.header__logo:hover {
   opacity: 0.8;
 }

.header__link-container {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.header__link-auth {
   font-family: Inter;
   font-size: 12px;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0px;
   transition: opacity 0.5s ease-in-out;
   text-decoration: none;
}

.header__link-auth:hover {
   opacity: 0.8;
}

.header__link-auth_type_up {
   color: #FFFFFF;

}

.header__link-auth_type_in {
   color: #000000;
   height: 32px;
   width: 76px;
   border-radius: 3px;
   background: #3DDC84;
   border: none;
   margin-left: 30px;
   cursor: pointer;
   text-align: center;
   padding: 8px 20px;
   box-sizing: border-box;
}

.header__links {
   gap: 16px;
   display: flex;
   align-items: center;
   /* justify-content:flex-start; */
   
}

.header__link-films {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #FFFFFF;
   text-decoration: none;   
}

.header__profile-link {
   margin-left: 746px;
}

.header__profile-link {
   transition: opacity 0.5s ease-in-out;
}

.header__profile-link:hover {
   opacity: 0.8;
}

.header__menu-button {
   display: none;
   background-image: url('../../images/Burger_menu.svg');
   background-repeat: no-repeat;
   background-color: transparent;
   width: 44px;
   height: 44px;
   border: none;
   transition: opacity 0.5s ease-in-out;
}

.header__menu-button:hover {
   opacity: 0.8;
}


@media (max-width: 770px) {
   .header {
      padding: 18px 30px 38px 30px;
   }
}

@media (max-width: 400px) {
   .header {
      padding: 18px 14px 32px 14px;
   }

   .header__link-auth {
      font-size: 10px;
      line-height: 16px;
   }

   .header__link-auth_type_in {
      margin-left: 14px;
      height: 26px;
      width: 54px;
   }

}