.header {
   max-width: 1280px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px 70px 38px 70px;
   /* border: 2px solid red; */
}

.header__logo {
   width: 38px;
   height: 38px;
   transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
   opacity: 0.8;
 }

.header__link-container {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.header__link-auth {
   font-family: Inter;
   font-size: 12px;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0px;
   transition: opacity 0.5s ease-in-out;
}

.header__link-auth:hover {
   opacity: 0.8;
}

.header__link-auth_type_up {
   color: #FFFFFF;

}

.header__link-auth_type_in {
   color: #000000;
   height: 32px;
   width: 76px;
   border-radius: 3px;
   background: #3DDC84;
   border: none;
   margin-left: 30px;
   cursor: pointer;
}

@media (max-width: 770px) {
   .header {
      padding: 18px 30px 38px 30px;
   }
}

@media (max-width: 400px) {
   .header {
      padding: 18px 14px 32px 14px;
   }

   .header__link-auth {
      font-size: 10px;
      line-height: 16px;
   }

   .header__link-auth_type_in {
      margin-left: 14px;
      height: 26px;
      width: 54px;
   }

}